.homeMain{
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(black,black,black,black, black,black ,black,rgb(60, 0, 0), rgb(145, 0, 0), red, orange )
}
