.inMain{
  color: white;
  font-family: ubuntu;
  font-size: 56px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inBack{
  background-position: 0 80%;
}
.idea{
  cursor: pointer;
  text-align: center;
}
