.outMain{
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.outBack{
  background-position: 0 0%;
}
.outMain input{
  margin: 5px;
}
.trailLink{
  text-decoration: none;
  color: darkgreen;
  font: 36px rubik;
  margin: 20px;
  margin-top: 15px !important;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
  height: auto;
  text-align: center;
}
.trailInfo{
  color: darkblue;
  text-align: center;
  font-family: rubik;
  font-size: 30px;
}
.trailLink:hover{
  border: 2px solid green;
}
.trailLinks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.trailDesrip{
  font: 25px ubuntu;
}
.letEmKnow{
  position: fixed;
  top: 15px;
  left: 15px;
  font-family: ubuntu;

}
