body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 0 0 0;
  background: linear-gradient(#2BC0E4 , #EAECC6, #85D8CE, #085078 ,#1D976C, #003973 , #E5E5BE , #93F9B9, #4CB8C4 , #E55D87 , #DD2476,#FF512F);
  background-position: 0 0%;
  background-size: auto 900%;
  transition: background 3s ease;
}
.mainMain{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  background: rgba(0, 0, 0, 0);
  border: none;
  height: auto;
  width: auto;
  color: white;
  font-family: Ubuntu;
  font-weight: 100;
  font-size: 60px;
  cursor: pointer;
  transition: animation 4s ease-in-out;
}
button div{
  display: inline-block;
}
.begin:hover{
  animation: firetext 20s ease;
}
.fader1{
  animation: show1 2s both;
}
.fader2{
  animation: show2 2s both;
}
.fader3{
  animation: show3 2s both;
}
.fader4{
  animation: show4 2s both;
}
@keyframes firetext {
  0%{
    color: white;
    filter: drop-shadow(0px 1px .5px white);
  }
  15%{
    color: yellow;
  filter: drop-shadow(0px 1px 5px white);
  }
  30%{
    color: orange;
    filter: drop-shadow(0px 1px .5px white);
  }
  45%{
    color: rgb(208, 75, 0);
    filter: drop-shadow(0px 1px .5px white);
  }
  60%{
    color: orange;
    filter: drop-shadow(0px 1px .5px white);
  }
  75%{
    color: rgb(255, 176, 57);
    filter: drop-shadow(0px 1px .5px white);
  }
  100%{
    color white;
    filter: drop-shadow(0px 1px .5px white);
  }
}
@keyframes show1 {
	0% {
		transform:translate(-105px,-20px);
		opacity:0;
		text-shadow:0 0 0 #888;
	}
	50% {
		text-shadow:0 0 0.5em #888;
	}
	100% {
		transform:translate(0,0);
		opacity:1;
		text-shadow:none;
	}
}
@keyframes show2 {
	0% {
		transform:translate(0,2em);
		opacity:0;
		text-shadow:0 0 0 #888;
	}
	50% {
		text-shadow:0 0 0.5em #888;
	}
	100% {
		transform:translate(0,0);
		opacity:1;
		text-shadow:none;
	}
}
@keyframes show3 {
	0% {
		transform:translate(-20px,-2em);
		opacity:0;
		text-shadow:0 0 0 #888;
	}
	50% {
		text-shadow:0 0 0.5em #888;
	}
	100% {
		transform:translate(0,0);
		opacity:1;
		text-shadow:none;
	}
}
@keyframes show4 {
	0% {
		transform:translate(10px,2em);
		opacity:0;
		text-shadow:0 0 0 #888;
	}
	50% {
		text-shadow:0 0 0.5em #888;
	}
	100% {
		transform:translate(0,0);
		opacity:1;
		text-shadow:none;
	}
}

/*    footer    */
footer{
  position: fixed;
  bottom: 0px;
  width: 100vw;
  font-family: rubik;
}
footer ul{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  list-style: none;
}
footer a{
  text-decoration: none;
  color: white;
}
footer a:hover{
  color: black;
  border-bottom: 2px solid black;
}
